# App API base URL (development)
# Use your local machine IP when testing on a physical device.
EXPO_PUBLIC_API_URL=http://SEU_IP_LOCAL:3001

# Para produção no Railway, use:
# EXPO_PUBLIC_API_URL=https://backendcontrolarapp-production.up.railway.app

EXPO_PUBLIC_RC_IOS_KEY=test_AElqdlaGIVmXoiyOQSYPeLQIoaZ
